:root {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: min(33vw, 250px) auto;
  grid-template-rows: 7.5vh 15vh 77.5vh;
}

#header {
  grid-column: 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 7.5vh 15vh;
}

#topbar {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 24px 50% auto 24px 64px 192px;
  margin-top: 22px;
  gap: 16px;
}

#user-top {
  margin-left: 8px;
}

#welcome {
  grid-row: 2 / 3;
}

#sidebar {
  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: 7.5vh 92.5vh;
}

#hero {
  display: grid;
  grid-template-columns: 48px auto;
  align-items: center;
  gap: 8px;
  margin-left: 8px;
}

#pages {
  margin-top: 48px;
  display: grid;
  grid-auto-rows: 48px;
  grid-template-columns: 24px auto;
  gap: 16px;
  margin-left: 16px;
}

#content {
  display: grid;
  grid-template-columns: auto min(33vw, 250px);
  grid-template-rows: 48px 40% 48px 40%;
}

#announce-title {
  grid-column: 2;
  grid-row: 1;
}

#projects {
  grid-row: 2 / 5;
}

#trend-title {
  grid-column: 2;
}