:root {
  font-family: 'Roboto', sans-serif;
  --sidebar: #047857;
  --buttons: #10b981;
  --content-bg: #f3f4f6;
  --spacer: #e5e7eb;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template: 7.5vh 12.5vh 80vh / min(33vw, 250px) auto 40px;
}

#header {
  grid-column: 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 7.5vh 12.5vh;
}

#topbar {
  grid-row: 1 / 2;
  display: grid;
  grid-template: 7.5vh / 24px 50% auto 24px 64px 192px;
  align-items: center;
  gap: 16px;
}

#user-top {
  margin-left: 8px;
}

#welcome {
  grid-row: 2 / 3;
  display: grid;
  grid-template: 2rem auto / 128px auto 128px 128px 128px;
  margin-right: 64px;
  align-items: center;
}

#welcome-avtr {
  grid-row: 1/ 3;
}

#welcome-txt {
  margin: 40px 0 0 0;
}
#welcome-name {
  grid-column: 2 / 3;
}

#sidebar {
  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: 7.5vh 92.5vh;
  background-color: var(--sidebar);
  color: white;
}

#sidebar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

#hero {
  display: grid;
  grid-template-columns: 48px auto;
  align-items: center;
  gap: 8px;
  margin-left: 8px;
}

#pages {
  margin-top: 48px;
  display: grid;
  grid-auto-rows: 48px;
  grid-template-columns: 24px auto;
  gap: 16px;
  margin-left: 16px;
  align-items: center;
}

#content {
  display: grid;
  grid-template: 48px 40% 48px 40% / auto min(33vw, 250px);
  background-color: var(--content-bg);
  padding-left: 16px;
  grid-column: 2;
}

#announce-title {

  grid-area: 1 / 2;
}

#projects {
  grid-row: 2 / 5;
}

#trend-title {
  grid-column: 2;
}

h2 {
  margin: 0;
}

button {
  background-color: var(--buttons);
  border: 2px solid var(--buttons);
  border-radius: 8px;
}

#sidebar * img[alt="An Icon"] {
  filter: invert(100%);
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15vw, 20vw));
  margin-left: 16px;
  gap: 16px
}

#projects > div {
  display: grid;
  grid-template-rows: 24px auto 35px;
  grid-template-columns: auto 116px;
  width: min(16vw, 450px);
  border: 4px solid white;
  border-radius: 8px;
  background-color: white;
  height: min(10vw, 300px);
  padding-left: 12px;  
  padding-right: 8px;
  align-items: baseline;
}

h4 {
  margin-top: 12px;
  margin-bottom: 8px;
  grid-column: 1 / -1;
}

#projects > div > p {
  grid-column: 1 / -1;
  height: min(calc(10vw - 59px), calc(300px-59px));
}

#projects > div > div {
  width: 116px;
  grid-column: 2;
}

h5 {
  margin: 0;
}

#trending, #announcements{
  background-color: white;
  border: 4px solid white;
  padding: 16px;
  border-radius: 8px;
  overflow: hidden;
}

#filler {
  background-color: var(--content-bg);
  grid-column: 3;
}

#announcements div p {
  font-size: 12px;
}

hr {
  border: 1px solid var(--spacer);
  border-radius: 8px;
  width: 95%;
}

#welcome button {
  width: 98px;
  height: 32px;
  border-radius: 16px;
  font-weight: bold;
  color: white;
}

#projects div button {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}